.App, #root, html, body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100vh !important;
  height: 100vh;
}

form {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-sizing:border-box;
  background-color: #6dcebd;
  padding: 15%;
  border-radius: 40px;
}

p {
  color: black;
  font-size: 20px;
  margin-top: 20px;
}

form > div {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

form > div > * {
  margin-right: 15px;
}

input {
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  background-color: white !important;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  font-weight: bold;
  line-height: 1.6;
}

.greeter-label {
  align-items: center;
}

button {
  padding: 5px;
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 160px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #696969;
}